# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Игнорируем все файлы Docker Compose, если они не должны быть в репозитории
docker-compose.override.yml
docker-compose.yml

# Игнорируем директории с данными Docker
.docker/
.docker-compose/

# Игнорируем контейнеры и тома Docker
*.log
docker_data/

# Игнорируем файлы сборки контейнеров
*.tar
*.img

